name: Release
on:
  workflow_run:
    workflows:
      - Tagging
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Fetch remote tags
        run: git fetch origin +refs/tags/*:refs/tags/*
      - name: Set Tag Value
        run: |
          export DATE=v$(echo `date +'%Y.%m'`)
          echo "DATE=${DATE}" >> $GITHUB_ENV
          echo "TAG=$(echo `git tag -l ${DATE}`)" >> $GITHUB_ENV
          echo "CHANGELOG=`git log --oneline $(git describe --tags @ --abbrev=0 @^ | head -n 1)..@ --pretty=format:"%h %an %s"`" >> $GITHUB_ENV
      - name: Create Release
        uses: actions/github-script@v8
        id: release
        if: ${{ env.TAG }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { repo: { owner, repo }, sha } = context;
            const tag = process.env.DATE;
            let release_id = 0;

            try {
              const release = await github.rest.repos.createRelease({
                owner,
                repo,
                tag_name: tag,
                generate_release_notes: true
              });

              release_id = release.data.id;
            } catch (e) {
              if (e.status == 422) { // Release already exists
                const latest = await github.rest.repos.getLatestRelease({
                  owner,
                  repo
                });
                release_id = latest.data.id;
              } else {
                throw e;
              }
            }

            return release_id

      - name: Upload Release Assets
        uses: actions/github-script@v8
        if: ${{ steps.release.outputs.result }}
        with:
          github-token: ${{ github.token }}
          script: |
            const { repo: { owner, repo }, sha } = context;
            const fs = require('fs').promises;

            try {
              let asset_ids = await github.rest.repos.listReleaseAssets({
                owner, repo,
                release_id: ${{ steps.release.outputs.result }}
              })
              for (let asset of asset_ids.data) {
                await github.rest.repos.deleteReleaseAsset({
                  owner, repo,
                  asset_id: asset.id
                });
              }
            } catch (e) {
              console.log(e.status);
            } finally {
              for (let file of await fs.readdir('./deployment')) {
                await github.rest.repos.uploadReleaseAsset({
                  owner, repo,
                  release_id: ${{ steps.release.outputs.result }},
                  name: file,
                  data: await fs.readFile(`./deployment/${file}`)
                })
              }
            }
